# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# Logs
*.log

# Environment variables
.env

# Data files
data/

# IDE files
.idea/
.vscode/

# OS specific files
.DS_Store